
.city{
    font-size: 32px;
}

.date{
    font-size: 16px;
}

container-img{

margin: 10px;

}


.container-temp{
    display: flex;
    justify-content: center;
    cursor: pointer;

    font-size: 80px;
    font-weight: 800;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}

.weather{
    font-size: 32px;
}

.Min-Max{
    font-size: 22px;

}


.card{
    text-align: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}


